html {
    box-sizing: border-box;
}
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}
body {
    font-family:'PT Sans', sans-serif;
    background-color: #E9EEEC;
    color: #18273A;
}
p {
    letter-spacing: 0.12rem;
}
.clearfix::after {
    clear: both;
    content: "";
    display: block;
}
.header{
    padding: 2% 0;
    background-color: #18273A;
    height: 110px;
}
#header {
    float: left;
    padding-left: 5%;
    margin: 0;
    color: #E9EEEC;
    letter-spacing: 0.3rem;
    text-shadow: 3px 2px #57616F;
    font-size: 2.7rem;
}
nav {
    margin-left: 75%;
    margin-top: 1%;
}
a {
    color: #424E5D;
    text-decoration: none;
}
.nav {
    display: inline;
    padding: 8px;
    padding-right: 5%;
    color: #E9EEEC;
    text-decoration: none;
   
}
a:hover {
    opacity: 0.7;
}
h1, h2, h3 {
    font-family: 'Playfair Display SC', serif;
}
#welcome {
    text-align: center;
    padding: 0 3% 3%;
}
.intro {
    margin-bottom: 0;
}
#name {
    text-decoration: underline;
    letter-spacing: 0.35rem;
    font-size: 3rem;
}
#title {
    font-weight: normal;
}
#highlights {
    background-color: #DFE5E3;
    padding: 3% 0;
}
#view {
    margin: auto;
    margin-top: 2%;
    background-color: #DFE5E3;
    border: 2px solid #18273A;
    border-radius: 3px;
}
#followingHeader {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 2%;
}
.navCol {
    flex-basis: 25%;
}
.columnW {
    flex-basis: 75%;
    margin-left: 12.5%;
}
.columnH, .columnP1, .columnP3 {
    flex-basis: 30%;
    text-align: center;
    background-color: #D4DDD9;
    margin: 1%;
    padding: 1%;
}
#hOne {
    margin-left: 3%;
}
.columnF {
    flex-basis: 28%;
    height: 150px;
    text-align: center;
}
#fOne, #fTwo, #fThree {
    background-color: #DFE5E3;
    margin: 2%;
}
#fOne {
    margin-left: 4%;
}
#fOneH{
    background-color: #1E3C37;
    height: 35px;
    margin-bottom: 1%;
} 
#fTwoH{
    background-color: #36413E;
    height: 35px;
    margin-bottom: 1%;
}
#fThreeH {
    background-color: #073E4B;
    height: 35px;
    margin-bottom: 1%;
}
footer {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}
/* about page CSS */
#content{
    padding-top: 3%;
    letter-spacing: 0.22rem;
}
.columnI {
    flex-basis: 40%;
    margin-left: 8%;

}
.columnI2 {
    flex-basis: 50%;
}
.columnCH {
    flex-basis: 15%;
    margin-left: 24%;
    line-height: 1.5;
}
.columnC {
    flex-basis: 40%;
    margin-left: 2%;
}
/* portfolio page CSS */
#frontend, #fullstack, #backend{
    padding-left: 6%;
}
#backend{
    background-color: #DFE5E3;
}
.pHeading{
    padding-left: 1.5%;
}
.columnP2 {
    flex-basis: 30%;
    text-align: center;
    margin: 1%;
    background-color: #D4DDD9;
}
.columnP1, .columnP3{
    padding: 0;
    background-color: #F4F6F5;
}
/* Contact page CSS */
#mainContact{
    margin-top: 3%;
}
#PC {
    line-height: 2;
}
.columnCP1{
    flex-basis: 25%;
    margin-left: 17%;
}
.columnCP2{
    flex-basis: 40%;
    margin-left: 1.5%;
}
#contactForm{
    background-color: #F4F6F5;
    padding: 3% 8%;
    font-size: 20px;
}
#message, #email, #contactName { 
    width: 100%;
}
#contactnName {
    height: 10px;
}
#message {
    height: 75px;
}
